{% extends "base_report.html" %}

{% block content %}
    <h1>Session {{ session.name }}, {{ session.sessionToken }}</h1>
    <h3>Part of experiment {{ session.expName }}</h3>
    <h3>Created on {{ session.creationDate }}</h3>

    {% if reports|length > 0 %}
        <hr>
        <p>{{ reports|length }} report events found</p>
        {% for d in reports %}
            <li><a href="{% url 'display_data' session.sessionToken d.pk %}">{{ d.eventType }} at {{ d.uploadDate }}<a></a></li>
        {% endfor %}
        <hr>
    {% endif %}

    <ul>
    <li><a href="{% url 'edit_config' session.sessionToken %}">Edit configuration</a></li>
    <li><a href="{% url 'copy_config' session.sessionToken %}">Copy configuration file</a></li>
    <li><a href="{% url 'display_exp_info' session.sessionToken %}">Return to <b>{{ session.expName }}</b> list</a></li>
    </ul>
    <p>Configuration file</p>
    <pre>{{ session.configFile }}</pre>
{% endblock %}