{% extends "base_report.html" %}

{% block content %}

    <div style="display: inline-block;">
    <div class="left">
    <h2>Invite participants for Experiment: {{ exp_name }}</h2>
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <div class="fieldWrapper">
                {{ form.appletName.errors }}
                <label for="{{ form.appletName.id_for_label }}">Applet for this Experiment:</label>
                {{ form.appletName }}
            </div>
            <div class="fieldWrapper">
                {{ form.numTokens.errors }}
                <label for="{{ form.numTokens.id_for_label }}">Number of participants:</label>
                {{ form.numTokens }}
            </div>
            <div class="fieldWrapper">
                {{ form.studyName.errors }}
                <label for="{{ form.studyName.id_for_label }}">Study that provides consent information:</label>
                {{ form.studyName }}
            </div>
            {% if form.priorTokens %}
                <div class="fieldWrapper">
                    {{ form.priorTokens.errors }}
                    <label for="{{ form.priorTokens.id_for_label }}">Add to token group:</label>
                    {{ form.priorTokens }}
                </div>
            {% endif %}
        </fieldset>
        <fieldset>
            <p><b>Parameters for HIT creation on Amazon Mechanical Turk</b></p>
            <div class="fieldWrapper">
                {{ form.mturk_key_id.errors }}
                <label for="{{ form.mturk_key_id.id_for_label }}">mTurk credentials key id:</label>
                {{ form.mturk_key_id }}
            </div>
            <div class="fieldWrapper">
                {{ form.mturk_secret_key.errors }}
                <label for="{{ form.mturk_secret_key.id_for_label }}">mTurk credentials secret key:</label>
                {{ form.mturk_secret_key }}
            </div>
            <div class="fieldWrapper">
                {{ form.mturk_title.errors }}
                <label for="{{ form.mturk_title.id_for_label }}">Title for posted HIT:</label>
                {{ form.mturk_title }}
            </div>
            <div class="fieldWrapper">
                {{ form.mturk_description.errors }}
                <label for="{{ form.mturk_description.id_for_label }}">Description for posted HIT:</label>
                {{ form.mturk_description }}
            </div>
            <div class="fieldWrapper">
                {{ form.mturk_amount.errors }}
                <label for="{{ form.mturk_amount.id_for_label }}">Compensation amount:</label>
                {{ form.mturk_amount }}
            </div>
            <div class="fieldWrapper">
                {{ form.mturk_frame_size.errors }}
                <label for="{{ form.mturk_frame_size.id_for_label }}">Vertical height of iframe:</label>
                {{ form.mturk_frame_size }}
            </div>
        </fieldset>
        <fieldset>
            <div class="fieldWrapper">
                <p><b>Direct invite participants by email</b></p>
                {{ form.emailList.errors }}
                <label for="{{ form.emailList.id_for_label }}">List of email addresses to invite:</label>
                {{ form.emailList }}
            </div>
        </fieldset>
        <input type="submit" value="Create" />
    </form>
    </div>

    <div class="right">
    <h3>Notes:</h3>
        <ul>
    <li>Urls to launch the experiment app with the session token passed will be generated by default</li>
    <li>Provide credentials for Amazon mTurk and the sessions will be made available as External HITs (optional)</li>
    <li>Provide a list of email addresses and the links will be sent, one to each email(optional)</li>
        </ul>
    </div>
    </div>
    <div>

    {% if priorLinks %}
        <p>Prior token groups for {{ exp_name }}</p>
        <table><tr><th>Group Token</th><th>Number of Sessions</th><th>Session Tokens</th></tr>
        {% for g in priorLinks %}
            <tr><td><a href="{% url 'token_status' g.groupToken %}">{{ g.groupToken }}</a></td><td align="center">{{ g.numTokens }}</td><td>{{ g.groupSessions }}</td></tr>
        {% endfor %}
        </table>
    {% endif %}

    <hr>
    <p>Session list for {{ exp_name }}</p>
    {% for s in sessions %}
        <li>{{ s.name }}</li>
    {% empty %}
        <p>None available</p>
    {% endfor %}

    <p>Sessions with data (won't be linked)</p>
    {% for s in skipped %}
        <li>{{ s.name }}</li>
    {% empty %}
        <p>None yet</p>
    {% endfor %}
    </div>
{% endblock %}