
#textbox {
	width: 100px;
    margin: auto;
    display: block;
    margin-top: 20px;

/*	position: absolute;
    margin: 0 auto;
    left: 280px;
    top: 230px;*/
}
#canvas {
	text-align: center;
	font-size: 40px;
	padding-top: 150px;
}

